



.logo{
  width: 100%;
  @media screen and (max-width: 768px){
    width: 80%;
  }
}
.sidebar{
  .photo img{
    width: 80% !important;
  }
  .photos-widget{
    .grid{
      .photo-item{
        transition: all 300ms ease;
        &:hover{
          transform: scale(1.1);
          z-index: 200;
        }
      }
    }
  }
}