.logo {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 80%;
  }
}

.sidebar .photo img {
  width: 80% !important;
}
.sidebar .photos-widget .grid .photo-item {
  transition: all 300ms ease;
}
.sidebar .photos-widget .grid .photo-item:hover {
  transform: scale(1.1);
  z-index: 200;
}

/*# sourceMappingURL=style.css.map */
